
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transactionsHeader {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background: #022D58;
  color:#fff;
  img {
    margin-right: 25px;
  }
}

.addressForm {
  display: flex;
  position: relative;

  input {
    width: 330px;
    flex-grow: 1;
    padding: 5px 30px 5px 10px;
    border: 1px solid #00E6E6;
    border-radius: 0;
    outline: none;
  }

  button {
    padding: 5px 12px;
    background: #00E6E6;
    border: 1px solid #00E6E6;
    border-radius: 0;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      opacity:.85
    }
  }

}
.resetBtn {
  position: absolute;
  height: 100%;
  width: 30px;
  left: 300px;
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  font-weight: bold;
  opacity: .4;
  &:hover {
    opacity:1;
  }
}


.contentWrapper {
  padding: 25px;

  h3 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 15px;
    color: #022d58;
  }

}

.transactionsTable {
  width: 100%;
  font-family: 'Helvetica', sans-serif;
  border-collapse: collapse;
  tr:nth-child(even){
    background: #f0f8ff;
  }
  th {
    padding: 8px;
    background: #022D58;
    color:#fff;
  }
  td {
    padding: 8px 12px;
    vertical-align: top;
    word-break: break-all;
    &:first-child {
      white-space: nowrap;
    }
  }
}

.errorAlert {
  color:#c00;
  text-align: center;
  border: 2px solid #c00;
  padding: 15px 40px;
  width: 400px;
  margin: auto;
  font-weight: bold;
  font-size: 1.1rem;
}